{% extends 'base.html.twig' %}

{% block title %}Hello ApiCityController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>
    {% include 'navbar.html.twig' %}
<div class="example-wrapper">

    <h1>Lista stacji {{ data[id].0.name }}</h1>

    <table class="table table-striped">
        <thead>
        <th>Stacje</th>
        </thead>
    {% for station in data[id] %}
    <tr>
        <td>{{ station.data.stationName }}</td>
    </tr>

    {% endfor %}
    </table>
</div>
{% endblock %}
